.custom {
    width: 50%;
    text-align: center;
}
.formats {
    width: 100%;
    padding: 10px;
}
button {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: lightgreen;
    width: 80px;
}
button:hover {
    cursor: pointer;
}
